/* TO GET AN IDEA OF THE CSS YOU WILL LIKELY BE USING, SEE THE LISTS BELOW. */

        /* 
        
        Spacing 

            - padding (shorthand and/or specific properties like padding-bottom, etc.)

            - margin, (shorthand and/or specific properties like margin-top, etc.)

            - letter-spacing, word-spacing, line-height

            - width, max-width, min-width
            - height, max-height, min-height

        Typography 

            - font-family, font-size, font-style, font-weight

            - text-decoration, text-align

            - color

            - text-shadow, text-transform

        Box, Layout and Border 

            - border (shorthand and/or specific properties like border-top, border-bottom-radius, border-width, etc.)

            - box-shadow

            - display, float, align-items, align-content

            - grid-template-columns, grid-column-gap

            - transform

        Other

            - :nth()-child (to target specific child elements)

            - :focus, :hover, :active (to target link states)

            - @font-face or @import (to import typefaces)

        */


/* ------ START WRITING YOUR CODE BELOW ------ */


@font-face {
    
    font-family:Ultra;
    src: url(../fonts/serif/ultra-regular.ttf);
    font-weight: normal;
    font-style: normal; 
}

@font-face {
    
    font-family:Roboto;
    src: url(../fonts/sans-serif/roboto-regular.ttf);
    font-weight: normal;
    font-style: normal; 
}

html {
    
    font-size:16px;
    font-family:Roboto, sans-serif;
    color:#333;
}

body {
   padding:0;
    margin:0 auto;
    font-size:1rem;
    max-width:104rem;
    min-width:64rem;
}

main {
    
    margin:0 auto;
    padding-bottom:.25rem;
    width:90%;
}

ul {
    list-style-type:none;
}

img {
    width:100%;
    display:block;
    max-width:25rem;
}

a {
    
    text-decoration:none;
}



/* Header */

header {
    margin:0 auto;
    padding:.5rem 5%;
    text-align: center;
}

h1 {
    font-family:Roboto, serif;
    font-size:3.75rem;
    margin:2rem 0;
    letter-spacing: .125rem;
    text-shadow:.125rem .125rem .125rem #333;
    transform:rotate(-4deg)
}

.highlight {
    font-family:Ultra;
    font-weight:normal;
    background-color:#83344D;
    color:#EED;
    padding:0 1rem;
    font-size:4rem;
    text-transform: uppercase;
    border-top-left-radius: 1rem;
    border-bottom-right-radius: 1rem;
    box-shadow:.187rem .187rem .187rem #333;
}


nav {
    margin:4rem 0 4rem 0;
    padding:0 5%;
    border-top:.0625rem solid #333;
    border-bottom:.0625rem solid #333;
}

nav a {
    display:inline-block;
    font-size:1.75rem;
    padding:2rem 6rem 2rem 0;
    color:#27476E;
    font-weight:bold;
}

nav :nth-child(even):focus,
nav :nth-child(even):hover,
nav :nth-child(even):active {
    text-decoration:line-through;
    transform: rotate(4deg); 
    text-transform: uppercase;
    font-size:1.5rem;
    color:#000;
}

nav :nth-child(odd):focus,
nav :nth-child(odd):hover,
nav :nth-child(odd):active {
    text-decoration:line-through;
    transform: rotate(-4deg); 
    text-transform: uppercase;
    font-size:1.5rem;
    color:#000;
}


.main-section {
    display:flex;
}

article {
    
    width:75%;
}

.article-image {

    float:left;
    margin:0 1rem 0 0;
}

.article-image + p {
    
    margin-top:0;
}


.subsection {
    
    margin-top:4rem;
    margin-bottom:2rem;
    padding:0;
    display:grid;
    grid-template-columns:repeat(auto-fit, minmax(5rem, 1fr));
    grid-column-gap: 1%;
}

.subsection figure {
    padding:0;
    margin:0;
    background-color:#EED;
}

.subsection figcaption {
    font-size:.75rem;
    padding:.75rem;
}

.subsection img {
    padding-bottom:1%;
    min-width:5rem;
}



h2 {
    font-size:1.5rem;
}

h3 {
    font-size:1rem;
}

time {
    font-style: italic;
    font-size:.75rem;
    margin-top:4%;
    padding:.125rem;
}

p {
    line-height:1.5;
}


aside {
    clear:left;
    margin-left:3%;
    padding-left:3%;
    width:19%;
    border-left: .0625rem solid #333;
}

aside :nth-child(1) {
    
    margin-top:0;
}

aside p {
    font-size:.75rem;
    padding-bottom:2rem;
    border-bottom:.0625rem solid #333;
}

.expand {
    font-size:.25rem;
    display:block;
    padding-top:.5rem;
}

button {
    margin-top:1rem;
    padding:1rem;
    font-family:Ultra;
    font-size:1.5rem;
    text-transform:uppercase;
    background-color:#27476E;
    box-shadow:.187rem .187rem .187rem #333;
    border:none;
    border-radius:.625rem;
    background-color:#27476E;
}

button a {
    color:#EED;
}


footer {
    margin:6rem auto .5rem auto;
    width:90%;
    display:grid;
    grid-template-columns: 1fr 1fr;
    grid-column-gap: 1%;
}

footer :nth-child(2) {
    text-align:right;
}

footer a {
    font-family: ubuntu, serif;
    color:#6F7D77;
}
