/* Imported Typeface Files */

@font-face {
    font-family:Lato;
    src: url(../fonts/lato-regular.ttf);
    font-style:normal;
    font-weight:normal;
}
@font-face {

    font-family:Alfa Slab One;
    src: url(../fonts/alfa-slab-one-regular.ttf);
    font-style:normal;
    font-weight:normal;
}


/* Root */

html {
    font-size:16px;
}


/* Body & Main  */

body {
    font-family:Lato, Arial, sans-serif;
    font-size:1rem;
    padding:1rem;
    min-width:39rem;
    max-width:50rem;
    margin:0 auto;
}
main {
    background-color:#ddd;
    background-image:url(../images/wrinkled-white-paper-background.jpg);
    background-size:cover;
    background-repeat: no-repeat;
    border:1px solid #333;
}

/* ------ START WRITING YOUR CODE BELOW THIS LINE ------ */

/* NO changes should be made to any of the code above. */

/* The first heading style rule has been completed for you. Examine it carefully
   to get an idea of some of the style properties you will need to use; then
   complete the style code according to the instructions in Canvas. */

/* NOTE: While you will be using some of the same CSS properties, the VALUES 
   may need to be different in order to style the page correctly. */


/* Headings  */

h1 {
    text-transform: uppercase;
    font-size:6rem;
    margin: 0rem;
    letter-spacing: .5rem;
    color:darkred;
    text-shadow:.09375rem .09375rem .09375rem #000;
    font-family:'Alfa Slab One', Garamond, serif;
    text-align:center;
}
 h2 {  
	text-transform: uppercase;
    font-size:3rem;
	font-weight:normal;
    margin: 0;
    letter-spacing: .25rem;
    color:darkred;
    text-shadow:.09375rem .09375rem .09375rem #000;
    font-family:'Alfa Slab One', Garamond, serif;
    text-align:center;
	 
 }
 h3 { 
	text-transform: uppercase;
    font-size:2rem;
	font-weight:normal;
    margin: 0;
    letter-spacing: .5rem;
    color:black;
    font-family:'Alfa Slab One', Garamond, serif;
    text-align:center;
} 
 
 h4 {
	 
	  text-transform: uppercase;
    font-size:1.5rem;
	font-weight:normal;
    margin: 0;
    letter-spacing: .25rem;
	padding-bottom: 1.125rem;
    color:darkred;
    text-shadow:.09375rem .09375rem .09375rem #000;
    font-family:'Alfa Slab One', Garamond, serif;
    text-align:center;
	
 h5 {
	  text-transform: uppercase;
    font-size:1rem;
	font-weight: normal;
    margin-top: 0.25rem;
	padding-bottom: 0.5rem;
	padding-top: 0.5rem; 
	padding-left: 0.5rem;
	padding-right: 0.5rem;
	background-color: #333;
    letter-spacing: .5rem;
    color:#FFF;
    text-shadow:.09375rem .09375rem .09375rem #000;
    font-family:'Alfa Slab One', Garamond, serif;
    text-align:center;
}
 

/* Section & Paragraph */
section {
	margin-top: 0.5rem;
	
}
	p {
		margin-top: 1rem; 
		margin-bottom: 1rem;
		margin-left: auto;
		margin-right: auto;
		padding-top: 0rem;
		padding-bottom: 0rem;
		padding-left: 1rem;
		width: 90%;
		text-align: left;
		
		
	}


/* Image & Figure */
img {
	width: 100%;
	margin-top: 0rem;
	margin-bottom: 0rem;
	margin-left: auto;
	margin-right: auto;
	max-width: 50rem;
}
figure {
	margin-bottom: 2rem;
}
figcaption {
	padding-top: 0.5rem;
	text-align: right;

}

/* Footer */
footer {
	width: 2rem;
	padding-bottom: 1rem;
	padding-top: 1rem; 
	padding-left: 1rem;
	padding-right: 1rem;
	border-top-style: solid;
	border-top-color: #333;
	border-top-width: 2rem;
}

